div.bg-color {
    height: 100%;
    border: 1px solid white;
    line-height: 2.6rem;
    font-size: 0.8rem;
    text-align: center;
    color: white;
}

div.row-bg {
    background-color: blue;
    margin-bottom: 1rem;
}

div.col-large {
    display: flex;
    align-items: center;
    padding: .75rem;
}

div.col-nested {
    font-size: 0.6rem;
    border: 1px solid blue;
    background-color: lightgreen;
    line-height: 1.5rem;
}

div.height-col {
    height: 2.8rem;
    border: 1px solid white;
}

div.off-col {
    background-color: blue;
}

div.off-row {
    justify-content: flex-end;
}
