h2 {
    margin: 5px;
}

.small-blue {
    height: 40px;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}